<%= render "shared/navbar" %>

<div class="banner">
  <h1>Movies</h1>
</div>

<br>

<div class ="index-content">
  <ul class="card-container">
    <% @lists.each do |list| %>
      <li class="card"><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
</div>
