<h1><%= @bookmark.comment %></h1>
<%= link_to "Delete this bookmark", list_bookmark_path(@bookmark.list, @bookmark), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back to List", list_path %>
