<div class="navbar-container">
  <div class="navbar">
    <div class="navbar-logo">
    </div>
    <div class="navbar-navigators">
      <p class="my-lists"><%= link_to "My Lists", lists_path, class: "new-list-btn btn btn-light" %></p>
      <p><%= link_to "New List", new_list_path, class: "ml-2 new-list-btn btn btn-light" %></p>
    </div>
  </div>
</div>
