.navbar-container {
  background: black;
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0;

}

div.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;


}

.navbar-logo {
  background-image: url("https://img.freepik.com/free-vector/cup-popcorn-graphic-illustration_53876-8059.jpg?size=338&ext=jpg");
  width: 48px;
  height: 48px;
  background-size: contain;
  border-radius: 50%;
}

.navbar-navigators {
  display: flex;
  justify-content: right;
}
