.navbar {
  justify-content: right;
  background: rgb(8, 8, 8);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

div.navbar {
  display: flex;
  justify-content: right;
  margin: 0 5%;
  background: rgb(8, 8, 8);

}

.navbar-logo {
  background-image: url('../../images/logopopcorn.jpg');
  width: max-content;
  object-fit: cover;

}
